Repository harperreed/digest: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-unit-tests, go-mod-verify, go-vet

.pre-commit-config.yaml:

# ABOUTME: Pre-commit hooks configuration for digest project
# ABOUTME: Runs formatting, linting, and tests before each commit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        exclude: ^go\.(mod|sum)$
      - id: end-of-file-fixer
        exclude: ^go\.(mod|sum)$
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']  # Block files > 1MB (except binary)
        exclude: ^digest$  # Allow the binary
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']
      - id: check-case-conflict

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-imports
      - id: go-mod-tidy
      - id: golangci-lint
        args: ['--timeout=10m', '--fix']
      # Note: go-unit-tests disabled, using local hook to skip charm/mcp tests

  - repo: local
    hooks:
      - id: go-unit-tests
        name: go-unit-tests
        # Skip charm and mcp tests - they require SSH auth to charm server
        entry: sh -c "go test $(go list ./... | grep -v -e /internal/charm -e /internal/mcp)"
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-mod-verify
        name: go mod verify
        entry: go mod verify
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

      - id: go-vet
        name: go vet
        entry: go vet
        language: system
        args: ['./...']
        files: \.go$
        pass_filenames: false

fix: disable AutoSync to prevent disk explosion
  internal/charm/client.go
Due: go-unit-tests, go-vet

feat: add 'sync compact' command to strip article content
  cmd/digest/sync.go
  go.mod
  go.sum
  internal/charm/client.go
Due: go-unit-tests, go-mod-verify, go-vet

refactor: remove dead code from Do API migration
  go.mod
  go.sum
  internal/charm/client.go
  internal/charm/client_test.go
  internal/mcp/server_test.go
Due: go-unit-tests, go-mod-verify, go-vet

feat: add stale sync support using charm v0.19.0
  go.mod
  go.sum
  internal/charm/client.go
Due: go-unit-tests, go-mod-verify, go-vet

chore(deps): update charm to v0.20.0
  go.mod
  go.sum
Due: go-mod-verify

feat!: replace Charm KV with SQLite storage
  CHARM_REMOVAL_PLAN.md
  cmd/digest/export.go
  cmd/digest/feed.go
  cmd/digest/fetch.go
  cmd/digest/list.go
  cmd/digest/markread.go
  cmd/digest/markunread.go
  cmd/digest/mcp.go
  cmd/digest/open.go
  cmd/digest/read.go
  cmd/digest/root.go
  cmd/digest/sync.go
  go.mod
  go.sum
  internal/charm/client.go
  internal/charm/client_test.go
  internal/charm/wal_test.go
  internal/mcp/resources.go
  internal/mcp/server.go
  internal/mcp/server_test.go
  internal/mcp/tools.go
  internal/opml/opml.go
  internal/storage/sqlite.go
  internal/storage/sqlite_test.go
  internal/storage/storage.go
  internal/sync/sync.go
Due: go-unit-tests, go-mod-verify, go-vet

feat: add install-skill command for Claude Code
  cmd/digest/skill.go
  cmd/digest/skill/SKILL.md
Due: go-unit-tests, go-vet

test: add comprehensive test coverage
  cmd/digest/cmd_test.go
  cmd/digest/fetch_test.go
  cmd/digest/root_test.go
  cmd/digest/skill.go
  cmd/digest/skill_test.go
  cmd/digest/version_test.go
  go.mod
  internal/fetch/fetch_test.go
  internal/mcp/server_test.go
  internal/models/feed_test.go
  internal/storage/sqlite_test.go
  internal/sync/sync_test.go
Due: go-unit-tests, go-mod-verify, go-vet

chore: add coverage files to gitignore
  .gitignore
Due: none

feat: add markdown storage backend with mdstore library
  cmd/digest/migrate.go
  cmd/digest/root.go
  go.mod
  internal/config/config.go
  internal/config/config_test.go
  internal/storage/markdown.go
  internal/storage/markdown_entries.go
  internal/storage/markdown_feeds.go
  internal/storage/markdown_test.go
  internal/storage/migrate.go
  internal/storage/migrate_test.go
Due: go-unit-tests, go-mod-verify, go-vet

feat(digest): remove sync command and add setup TUI wizard
  cmd/digest/root.go
  cmd/digest/setup.go
  cmd/digest/sync.go
  go.mod
  go.sum
  internal/tui/setup.go
  internal/tui/setup_test.go
Due: go-unit-tests, go-mod-verify, go-vet

fix(tui): safe type assertion, cursor blink, done message, and skip logic in setup wizard
  cmd/digest/root.go
  cmd/digest/setup.go
  internal/tui/setup.go
  internal/tui/setup_test.go
Due: go-unit-tests, go-vet

feat(config): default new users to markdown backend with SQLite auto-detection
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

fix(deps): use published mdstore module, remove local replace
  go.mod
  go.sum
  internal/config/config.go
  internal/storage/markdown.go
  internal/storage/markdown_entries.go
  internal/storage/markdown_feeds.go
Due: go-unit-tests, go-mod-verify, go-vet

docs: fix 33 false claims found in documentation audit
  .goreleaser.yml
  CHARM_REMOVAL_PLAN.md
  README.md
  cmd/digest/skill/SKILL.md
  code-review.md
  docs/audits/AUDIT_REPORT_2026-02-11.md
  missing-tests.md
Due: none

feat(models): add LocalNetwork field to Feed struct
  internal/models/feed.go
  internal/models/feed_test.go
Due: go-unit-tests, go-vet

feat(fetch): add allowLocalNetwork parameter to bypass SSRF for trusted feeds
  cmd/digest/fetch.go
  internal/discover/discover.go
  internal/fetch/fetch.go
  internal/fetch/fetch_test.go
  internal/mcp/tools.go
  internal/sync/sync.go
Due: go-unit-tests, go-vet

feat(storage): add local_network field to SQLite and markdown backends
  internal/storage/markdown.go
  internal/storage/markdown_test.go
  internal/storage/sqlite.go
  internal/storage/sqlite_test.go
Due: go-unit-tests, go-vet

feat: wire LocalNetwork through sync, discover, MCP, and CLI layers
  cmd/digest/feed.go
  cmd/digest/fetch.go
  internal/discover/discover.go
  internal/discover/discover_test.go
  internal/mcp/tools.go
  internal/sync/sync.go
Due: go-unit-tests, go-vet

fix: add SQLite migration for local_network column and expose in MCP responses
  internal/mcp/tools.go
  internal/storage/sqlite.go
  internal/storage/sqlite_test.go
Due: go-unit-tests, go-vet

docs: add profiles feature design spec
  docs/superpowers/specs/2026-04-08-profiles-design.md
Due: none

docs: add profiles implementation plan
  docs/superpowers/plans/2026-04-08-profiles.md
Due: none

feat(config): add ProfileDataDir for profile path resolution
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

feat(config): add OpenProfileStorage for profile-scoped storage
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

feat(config): add MigrateToProfileLayout for flat-to-profile migration
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

feat(cli): add --profile flag and wire profile-scoped storage
  cmd/digest/cmd_test.go
  cmd/digest/root.go
  cmd/digest/root_test.go
Due: go-unit-tests, go-vet

feat(cli): add profile list and delete commands
  cmd/digest/cmd_test.go
  cmd/digest/profile.go
  cmd/digest/profile_test.go
Due: go-unit-tests, go-vet

fix(cli): skip storage init for profile subcommands
  cmd/digest/root.go
Due: go-unit-tests, go-vet

test(config): add profile isolation integration test
  internal/config/config_test.go
Due: go-unit-tests, go-vet

docs: add implementation plan for profiles review fixes
  docs/superpowers/plans/2026-04-08-profiles-fixes.md
Due: none

fix(security): add ValidateProfileName to block path traversal in profile flags
  cmd/digest/profile.go
  cmd/digest/root.go
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

refactor(config): deduplicate storage factory into shared openStore helper
  internal/config/config.go
Due: go-unit-tests, go-vet

fix(migration): handle SQLite WAL/SHM files and markdown backend data
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

fix(config): detect SQLite DB in profile layout for first-run config
  internal/config/config.go
  internal/config/config_test.go
Due: go-unit-tests, go-vet

fix(migrate): use profile-aware storage for source backend
  cmd/digest/migrate.go
Due: go-unit-tests, go-vet

fix(cli): rename profile delete to remove, add -p shorthand, improve help text
  cmd/digest/cmd_test.go
  cmd/digest/profile.go
  cmd/digest/profile_test.go
  cmd/digest/root.go
Due: go-unit-tests, go-vet

feat(mcp): add per-tool profile selection via lazy-loaded profile cache
  cmd/digest/mcp.go
  cmd/digest/root.go
  internal/mcp/resources.go
  internal/mcp/server.go
  internal/mcp/server_test.go
  internal/mcp/tools.go
Due: go-unit-tests, go-vet

fix(mcp): handle stat errors and clear profile cache on Close
  internal/mcp/server.go
Due: go-unit-tests, go-vet

test(mcp): add cross-profile isolation and validation tests
  internal/mcp/server_test.go
Due: go-unit-tests, go-vet

feat(mcp): add list_profiles tool to MCP server
  internal/mcp/server_test.go
  internal/mcp/tools.go
Due: go-unit-tests, go-vet
